@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.App{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

.logo{
    color: white;
    font-size: 32px;
    position: absolute;
    left: 200px;
    top: 50px;
}

.error{
    font-size: 26px;
    color: red;
    position: absolute;
    right: 50;
    top: 50;
    left: 50;
    bottom: 50;
}